.my-courses{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/bg2.png");
    background-size: 100%;
}

.my-courses-title{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin-bottom: 0;
}

.my-courses-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 40px;
}

.courses-items-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #EEEBE4;
    width: 80%;
    height: auto;
    text-align: center;
    text-decoration: none;
}

.courses-items-item img{
    width: 100%;
    border-radius: 10px;
}

.courses-items-title{
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    color: #091F2C;
}

.courses-items-item span{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #091F2C;
}

.courses-items-progress{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.courses{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/bg2.png");
    background-size: 100%;
}

.courses-title-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/bg2.png");
    background-size: 100%;
    width: 100%;
}

.course-title{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.category-select{
    margin-top: 20px;
    background-color: #9EAB28;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    width: auto;
}

.courses-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 40px;
}

.courses-items-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #EEEBE4;
    width: 80%;
    height: auto;
    text-align: center;
    text-decoration: none;
}

@media (640px <= width < 992px){
    .my-courses-items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 20px;
        margin-right: 20px;
    }

    .courses-items-item{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .category-select{
        font-size: 24px;
    }

    .category-select option{
        font-size: 18px;
    }

    .courses-items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

@media (width > 992px){
    .my-courses{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .my-courses-title{
        color: white;
        font-family: 'Lato', sans-serif;
        font-size: 30px;
        margin-bottom: 0;
        padding-left: 40px;
    }
    
    .my-courses-items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 20px;
        margin-right: 20px;
        margin-top: 0;
    }

    .courses-items-item{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .courses-items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-left: 20px;
    }

    .courses-title-container{
        display: flex;
        justify-content: center;
        flex-direction: row;
        background-size: 100%;
        width: 100%;
        gap: 10px;
        justify-content: start;
        padding-left: 40px;
    }

    .courses-title-container label{
        color: #091F2C;
        font-family: 'Lato', sans-serif;
        width: auto;
        margin-bottom: 20px;
    }



}