*{
    box-sizing: border-box;
}

.main-container{
    margin: 0px auto;
    max-width: 100%;
    background-color: white;
}

img{
    max-width: 100%;
    height: auto;
}

body{
    background-color: black;
}

@media(width>992px){
    .main-container{
        padding: 0px;
    }
}